{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome in the Symfony 3 Sandbox</h1>
    <p class="lead">This sandbox was created by <a target="_blank" href="http://clement-andraud.com/">Clément Andraud</a>.</p>
{% endblock %}
